body{
    background-color:#eccb0e !important;
    margin: 0;
    top: 0;
    overflow: hidden;
}
.coins{
margin: auto;
position: relative;
margin-top: 50px;
height: 350px;
width:700px;
}
.btn{
    color: black;
}
.nav{
 top: 0;
  margin-top: 20px;
}
#icon{
    height: 60px;
    width: 60px;
    position: absolute;
    left: 15px;
    top: 15px;
    border: solid black;
    border-radius: 100px ;
}
.btn{
    color: black;
    margin: 10px 7px 14px;
}
.addy{
    z-index: 1;
}
h1{
    font-size: large;
    font-family: 'Merriweather';
    text-align: center;
    padding-top: 100px;
}
.don{
    background-color: #FF616D;
    text-align: center;
    height: 50px;
    width: 150px;
    font-family: 'Merriweather';
    border-radius: 70px;
    transition-duration: 0.4s;
}
.dona{
    text-align: center;
    padding-bottom: 50px;
}
.don:hover{
    background-color: #FF616D;
    color: white;
}
.sparks{
    font-family: "Vardana";
    padding-left: 80px;
    position: absolute;
    font-size: 200%;
    padding-top: 10px;
    color: darkblue;
}